@import "tailwindcss";

body {
  @apply bg-ytcolor-bg text-ytcolor-fg h-96 w-xs;
}

@theme {
  --color-ytcolor-bg: #0f0f0f;
  --color-ytcolor-fg: #f1f1f1;
  --color-ytcolor-idle: #272727;
  --color-ytcolor-hover: #3f3f3f;
  --color-ytcolor-active: #535353;
}
